<section class="footer-social" aria-labelledby="footer-social-heading">
  <h2 id="footer-social-heading" class="visually-hidden">Follow Us on Social Media</h2>

  <link rel="stylesheet" href="/stylesheets/footer-social.css" media="print" onload="this.media='all'">

  <div class="footer-social__content">
    <%= partial "components/social-links" %>
  </div>
</section>